@using Company.Database.Access
@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<section class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <a asp-action="Create" class="btn btn-primary" asp-controller="User">Create New User</a>
    </div>
    <div>
        <input class="form-control" type="text" placeholder="Search By Name" name="searchInp" value="" />
    </div>
    @if (Model.Any())
    {
                <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">UserName</th>
                        <th scope="col">Email</th>
                        <th scope="col">Details</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>

                    </tr>
                    </thead>
                    <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <th scope="row">@user.Id</th>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td><a asp-action="Details" asp-controller="User" asp-route-id="@user.Id">Details</a></td>
                        <td><a asp-action="Edit" asp-controller="User" asp-route-id="@user.Id">Edit</a></td>
                        <td><a asp-action="Delete" asp-controller="User" asp-route-id="@user.Id">Delete</a></td>
                    </tr>
                }
                    </tbody>
            </table>
    }
    else
    {
            <p>No users</p>
    }
</section>
