@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Employee>

<section class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="Create" class="btn btn-primary" asp-controller="Employees">Create New User</a>
    @if (Model.Any())
    {
            <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">City</th>
                    <th scope="col">Birthdate</th>
                </tr>
                </thead>
                <tbody>
                    @foreach (var employee in Model)
                    {
                        <tr>
                            <th scope="row">@employee.EmployeeId</th>
                            <td>@employee.FirstName</td>
                            <td>@employee.LastName</td>
                            <td>@employee.City</td>
                            <td>@employee.BirthDate</td>
                        </tr>
                    }
                </tbody>
        </table>
    }
    else
    {
        <p>No employees</p>
    }
</section>
